body, html {
    height:             100%;
    padding:            0px;
    margin:             0px;
}


.repl {
    width:                  49.9%;
    height:                 90%;
}

#python-repl {
    .repl;
    float:                  right;
}

#hython-repl {
    .repl;
    float:                  left;
    border-left:            1px solid #DCDCDC;
}

.clear {
    clear:                  both;
}

#build-msgs {
    border-top:             1px solid #DCDCDC;
    height:                 10%;
    background-color:       #141414;
    color:                  #DCDCDC;
    font-family:            monospace;
}
