[run]
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/nose/*
    */pypy/*


[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover