Paul R. Tagliamonte <paultag@debian.org> Paul Tagliamonte <paultag@debian.org>
Paul R. Tagliamonte <paultag@debian.org> Paul Tagliamonte <tag@pault.ag>
Paul R. Tagliamonte <paultag@debian.org> Paul Tagliamonte <paultag@sunlightfoundation.com>
Paul R. Tagliamonte <paultag@debian.org> Paul Tagliamonte <paultag@ubuntu.com>
Morten Linderud <morten@linderud.pw> Foxboron <morten@linderud.pw>
James King <james@agentultra.com> agentultra <james@agentultra.com>
James King <james@agentultra.com> J Kenneth King <james@agentultra.com>
Abhishek L <abhishek.lekshmanan@gmail.com> <abhishekl.2006@gmail.com>
Bob Tolbert <bob@tolbert.org> Bob Tolbert <bob@eyesopen.com>
Guillermo Vaya <guivaya@gmail.com> Guillermo Vaya <guillermo.vaya@gigas.com>
Gergely Nagy <algernon@balabit.hu> Gergely Nagy <algernon@madhouse-project.org>
