language: python
python:
  - "pypy"
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
# command to install dependencies
install:
  - pip install -r requirements-dev.txt
  - pip install coveralls
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2; fi  # needs for running tests
  - pip install --allow-all-external -e .
# command to run tests
script: make travis
after_success: coveralls
notifications:
  email:
    - paultag@gmail.com
  irc:
    channels:
      - "irc.freenode.net#woo-city-commits"
      - "irc.freenode.net#hy"
    on_success: change
    on_failure: change
    use_notice: false
# blacklist
branches:
    except:
      - debian
