language: python
python:
  - "pypy"
  - "2.7"
  - "3.2"
  - "3.3"
  - "2.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install argparse importlib unittest2 astor; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install astor; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 'pypy' ]]; then pip install astor; fi
  - python setup.py -q install
# # command to run tests
script: make travis
after_success: coveralls
notifications:
  email:
    - paultag@gmail.com
  irc:
    channels:
      - "irc.freenode.net#woo-city-commits"
      - "irc.freenode.net#hy"
    on_success: change
    on_failure: change
    use_notice: false
# blacklist
branches:
    except:
      - debian
