div.console { word-wrap: break-word; }
div.console { font-size: 14px }
div.console div.jquery-console-inner
{ width:900px; height:200px; background:#333; padding:0.5em;
  overflow:auto }
div.console div.jquery-console-prompt-box
{ color:#fff; font-family:monospace; }
div.console div.jquery-console-focus span.jquery-console-cursor
{ background:#fefefe; color:#333; font-weight:bold }
div.console div.jquery-console-message-error
{ color:#ff6969; font-family:monospace;
  padding:0.1em; }
div.console div.jquery-console-message-value
{ color:#1ad027; font-family:monospace;
  padding:0.1em; }
div.console div.jquery-console-message-type
{ color:#52666f; font-family:monospace;
  padding:0.1em; }
div.console div.jquery-console-welcome
{ color:#929292; font-family:monospace;
  padding:0.1em; }
div.console span.jquery-console-prompt-label { font-weight:bold }

body {
    background-image: url(/img/symbolics.jpg);
    background-repeat: no-repeat;
}

#hy-console {
    margin-top: 177px;
    margin-left: 230px;
    -webkit-transform: skew(4deg) rotate(4deg);
}

div#hy-console.console div.jquery-console-inner {
    width: 314px;
    height: 251px;
    overflow: hidden;
    background: none;
}
