<!DOCTYPE html>
<html>
  <head>
    <title>try-hylang</title>
    <meta name="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.console.js"></script>
    <script type="text/javascript" src="js/repl.js"></script>
    <script type="text/javascript">
      var hy_version = '{{hy_version}}';
      var server_software = '{{server_software}}';
    </script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div id="hy-console" class="console">
    </div>
  </body>
</html>
