<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/pygments.css") }}" ></link>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/hy.css") }}" ></link>
        <script src="{{ url_for("static", filename="js/jquery-1.9.1.min.js") }}" type="text/javascript" ></script>
        <script src="{{ url_for("static", filename="js/main.js") }}" type="text/javascript" ></script>
{% block head %}{% endblock %}
    </head>
    <body>
        <div id='github-wrapper'>
            <a href='http://git.io/hy' id='github'>Fork me on GitHub</a>
        </div>
{% block content %}
{% endblock %}
{% block tail %}
{% endblock %}
    </body>
</html>
