{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1>Hi, Welcome to Hy!</h1>

<p>
Hy is a special Lisp langage. It compiles into a Python AST, and allows for
some pretty awesome stuff (like writing Flask or Django apps in Lisp).
</p>
<p>
It's got an extremely simple Macro system, which will hopefully become
a bit more advanced as the language develops.
</p>
<p>
Want to try it out? Flip on JavaScript and try out the <a href="/repl" >REPL</a>
</p>
{% endblock %}
