{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}

{# {% autoescape off %}{% code "clojure" %}
(print "foo bar")
{% endcode %}{% endautoescape %} #}

        <div id = 'popshim' >
        <div class = 'popover' >
            <div class = 'focus' >
                <div class = 'repl' >
                    <textarea id = 'repl-input' class = 'repl-pane repl-left' >
</textarea>
            <pre id = 'repl-output' class = 'repl-pane repl-right' ></pre>
        </div>
    </div>
</div>

{% endblock %}
