{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block head %}
    <script src="{{url_for("static", filename="js/codemirror.js")}}"></script>
    <link rel="stylesheet" href="{{url_for("static", filename="css/codemirror.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="css/themes/elegant.css")}}">
    <script src="{{url_for("static", filename="js/mode/clojure/clojure.js")}}"></script>
    <script src="{{url_for("static", filename="js/mode/python/python.js")}}"></script>
{% endblock %}

{% block tail %}
    <script src="{{url_for("static", filename="js/main.js")}}"></script>
{% endblock %}

{% block content %}
<div id='repl-root' class='repl-root' >
    <div class='repl' id='hython-repl'>
<textarea id="hython-target">
;;;; This is Hy. Hy is a Lisp variant that
;;;; "compiles" to Python ASTs.
;;;;
;;;; This pane is the Hy lisp variant,
;;;; and the left side is what the output
;;;; AST looks like using the `codegen` module.
;;;;
;;;;    star the repo @ http://git.io/hy
;;;;


(defn square [x]
  "This function will square a number"
  (* x x))

(print (square 2))


(defn add-two-numbers [x y]
  (+ x y))

;;  (dashes turn to underscores)

(print (add-two-numbers 1 2))
</textarea>
    </div>
    <div class='repl' id='python-repl'></div>
    <div class='clear'></div>
    <div class='msgs' id='build-msgs'></div>
</div>
{% endblock %}
